$blue: #0ab6c9;
$red: #9c3434;
.demoButton {
  color: white;
  font-weight: bold;
  background-image: linear-gradient(to top right, #2b2b2b, #9c3434);
  border-radius: 14px;
  display: flex;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 1s;
  font-size: large;
}

.demoButton:hover {
  transition: 1s;
  transform: scale(1.1);
  animation: gradient-hover-animation 0.4s infinite;
}

@keyframes gradient-hover-animation {
  0% {
    background-image: linear-gradient(to top right, black, $red);
  }
  25% {
    background-image: linear-gradient(to top right, black, $red);
  }
  50% {
    background-image: linear-gradient(to top right, $red, black, $red);
  }
  75% {
    background-image: linear-gradient(to top right, $red, black);
  }
  100% {
    background-image: linear-gradient(to top right, $red, black);
  }
}
