$blue: #0ab6c9;
$red: #9c3434;
.demoButton {
  color: black;
  font-weight: bold;
  background-color: white;
  border: 2px solid $blue;
  border-radius: 14px;
  display: flex;
  text-decoration: none;
  padding: 10px;
  margin-top: 20px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: 1s;
  font-size: 15px;
  width: 200px;
  height: 66px;
}

.demoButton:hover {
  transition: 1s;
  transform: scale(1.1);
  animation: gradient-hover-animation 0.6s infinite;
}

@keyframes gradient-hover-animation {
  0% {
    background-image: linear-gradient(to top right, $blue, white);
  }
  25% {
    background-image: linear-gradient(to top right, white, $blue);
  }
  50% {
    background-image: linear-gradient(to top right, $blue, white, $blue);
  }
  75% {
    background-image: linear-gradient(to top right, white, $blue);
  }
  100% {
    background-image: linear-gradient(to top right, $blue, white);
  }
}
