.feature {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content:center; 
  padding: 10px;
}
.featureImage {
  width: 145px;

  display: inline-block;
}
