$blue: #0ab6c9;
$yellow: #fffb00;

.contacts {
  padding: 20px;
  gap: 40px;
}

.emailForm {
  background-color: $blue;
  padding: 20px;
  margin-top: 20px;
  border-radius: 15px;
  text-align: left;
  color: white;
  font-size: 1.2em;
}

h1,
h2 {
  text-align: center;
  font-size: 2em;
  color: rgb(43, 40, 40);
}
h1 {
  margin-top: 5vw;
}
h2 {
  color: whitesmoke;
}
.message,
.name {
  display: flex;
  flex-direction: column;
}
.name input {
  height: 2em;
}
input,
textarea {
  border: none;
  margin-top: 5px;
  border-radius: 5px;
}

textarea {
  height: 4em;
}

.submit {
  padding: 10px;
  border: none;
  margin-top: 10px;
  border: 1px solid $blue;
  background-color: white;
  color: $blue;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9em;
}
.submit:hover {
  background-color: $blue;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}

@media (min-width: 800px) {
  .contacts {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;

    grid-template-columns: 1fr 1fr;
    height: 40rem;
    padding: 100px;
  }
  .emailForm {
    width: 400px;
    height: 400px;

    animation: bob 5s infinite;
  }
  .contactIcons {
    height: 400px;
    display: flex;

    gap: 10px;
    padding: 10px;
  }
  h1 {
    margin-top: 0;
    padding: 20px;
    background-color: $blue;
    color: whitesmoke;
  }
}

@keyframes bob {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(1, 1);
  }
}
