$blue: #0ab6c9;
$yellow: #fffb00;
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: $blue;
}
.projects h1 {
  color: whitesmoke;
  margin: 0;
  padding: 20px;
  width: 100%;
}

@media (min-width: 800px) {
  .projects {
    gap: 5px;
  }
  .projects {
    background-color: whitesmoke;
  }
}
