$blue: #0ab6c9;
$yellow: #fffb00;

.specialText {
  font-weight: bold;
  color: $blue;
}

.cityImg {
  width: 80%;

  margin-top: 20px;
  border-radius: 10px;
}

.bio {
  text-align: justify;
  padding: 20px 40px 20px 40px;
}
.skills {
  margin-top: 40px;
  padding: 0 40px 20px 40px;
}
.skillList {
  display: flex;
  font-size: 1.8em;
  gap: 20px;
  flex-wrap: wrap;
  color: $blue;
  padding: 10px;
}

@media (min-width: 800px) {
  .about {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
  }
}
