$blue: #0ab6c9;
$yellow: #fffb00;

.navbar {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 8vw;
  margin-left: 5px;
  margin-right: 5px;
}


.button {
  padding: 10px 0px 10px 0px;
  border: none;
  background-color: $blue;
  color: white;
  font-weight: bold;
  width: 30vw;
  border-radius: 6px;
  font-size: 1rem;
}

.button:hover {
  cursor: pointer;
}
