$blue: #0ab6c9;
$yellow: #e4e003;
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: $blue;
  z-index: 1;
}

.projects h1 {
  color: rgb(68, 66, 66);
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: transparent !important;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.techSort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 15px;
  padding: 35px;
  width: 100%;
}

.techs {
  display: flex;
  color: rgb(68, 66, 66);
  gap: 15px;
  z-index: 1;
}

.sortProjects {
  display: flex;
  flex-direction: column;
  background-color: $yellow;
  padding: 30px;
  gap: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bgTriangle button {
  background-color: transparent;
  border: none;
}

@media (min-width: 800px) {
  .projects {
    gap: 50px;
    z-index: 1;
  }
}
