$blue: #0ab6c9;
$yellow: #e4e003;
.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  background-color: $blue;
  z-index: 1;
}

.projects h1 {
  color: rgb(68, 66, 66);
  margin: 0;
  padding: 20px;
  width: 100%;
  background-color: transparent !important;
}

.projectList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.techSort {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: 15px;
  padding: 35px;
  width: 100%;
}

.techs {
  display: flex;
  color: rgb(68, 66, 66);
  gap: 15px;
  z-index: 1;
}

.bgTriangle {
  display: flex;
  gap: 15px;
  gap: 0px;
  position: relative;
  z-index: 0;
}

.bgTriangle button {
  background-color: transparent;
  border: none;
}

.bgTriangleLeft {
  width: 400px;
  height: 400px;
  background: conic-gradient(at 50% 50%, $yellow 135deg, transparent 0deg, transparent 315deg, $yellow 0deg);
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 16px;
  .techs {
    justify-content: flex-end;
  }
}

.bgTriangleRight {
  width: 400px;
  height: 400px;
  background: conic-gradient(at 50% 50%, $yellow 45deg, transparent 0deg, transparent 225deg, $yellow 0deg);
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 16px;
}

@media (min-width: 800px) {
  .projects {
    gap: 50px;
    z-index: 1;
  }
}
