@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro&family=Oswald&family=Roboto+Mono&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Be Vietnam Pro", sans-serif;
}
body,
html {
  overflow-x: hidden;
}
.content {
  background-color: white;

  height: 100%;

  text-align: center;
}

.AppHeader {
  overflow: hidden;
}

.headerContainer {
  overflow: hidden;
}
